// This file is populated by Ansible playbook that runs prior to terraform.

// AWS
vpc_cidr                    = "{{ VpcCidr }}"
region                      = "{{ region }}"
hosted_zone_id              = "{{ HostedZoneId }}"
hosted_zone_name            = "{{ base_domain }}"

// Cluster-specific
infra_name                  = "{{ InfrastructureName }}"
cluster_name                = "{{ cluster_name }}"


// Machine details
aws_rhos_ami                = "{{ aws_rhos_ami }}"
aws_machine_arch            = "{{ aws_machine_arch }}"
bootstrap_ec2_instance_type = "{{ bootstrap_ec2_instance_type }}"
master_ec2_instance_type    = "{{ master_ec2_instance_type }}"
worker_ec2_instance_type    = "{{ worker_ec2_instance_type }}"
ec2_key_pair                = "{{ ec2_key_pair }}"

// Ignition file location
bootstrap_ignition_location = "{{ bootstrap_ignition_location }}"
master_ignition_location    = "{{ master_ignition_location }}"
worker_ignition_location    = "{{ worker_ignition_location }}"

// Cluster subnets per availability zone

// az a
a = { 
      priv_cidr         = "{{ za_private_subnet_cidr }}" , 
      pub_cidr          = "{{ za_public_subnet_cidr }}" , 
      az_name           = "{{ az_a_name }}"

    }

// az b
b = { 
      priv_cidr         = "{{ zb_private_subnet_cidr }}" ,
      pub_cidr          = "{{ zb_public_subnet_cidr }}" , 
      az_name           = "{{ az_b_name }}"
    }

// az c
c = { 
      priv_cidr         = "{{ zc_private_subnet_cidr }}" , 
      pub_cidr          = "{{ zc_public_subnet_cidr }}" , 
      az_name           = "{{ az_c_name }}" 
    }

// Ebs Volume

ebs_block = {
              device_name = "{{ device_name }}",
              volume_size = "{{ volume_size }}",
              volume_type = "{{ volume_type }}"
            }

// Certificate authority

certificate_authorities = "{{ certificate_authorities }}"